@custom-media --xs screen and (min-width: 320px);
@custom-media --sm screen and (min-width: 576px);
@custom-media --md screen and (min-width: 768px);
@custom-media --lg screen and (min-width: 992px);
@custom-media --xl screen and (min-width: 1200px);

@custom-media --xs-only screen and (min-width: 320px) and (max-width: 575px);
@custom-media --sm-only screen and (min-width: 576px) and (max-width: 767px);
@custom-media --md-only screen and (min-width: 768px) and (max-width: 991px);
@custom-media --lg-only screen and (min-width: 992px) and (max-width: 1199px);
@custom-media --xl-only screen and (min-width: 1200px);

@custom-media --xs-sm screen and (max-width: 767px);
@custom-media --xs-md screen and (max-width: 991px);

/* LIBRARY - START */

:root {
  --cover: {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

/* LIBRARY - END */

/* GENERAL - START */

body {
  font-family: 'Roboto', Arial, sans-serif;
}

/* GENERAL - END */

/* CHESS BOARD PAGE - START */

div.chess-game-page {
  min-height: 100vh;
  position: relative;
  & .chess-board {
    border: solid transparent;
    -webkit-border-image: url('./images/chess-border.png') 25 round;
    -moz-border-image: url('./images/chess-border.png') 25 round;
    -o-border-image: url('./images/chess-border.png') 25 round;
    border-image: url('./images/chess-border.png') 25 round;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    @media (--xs) {
      border-width: 25px;
    }
    @media (--sm) {
      border-width: 30px;
    }
    @media (--md) {
      border-width: 35px;
    }
    @media (--lg) {
      border-width: 40px;
    }
    @media (--xl) {
      border-width: 45px;
    }
    & .chess-board-cells {
      display: flex;
      flex-wrap: wrap;
      & .chess-board-cell {
        flex: 0 12.5%;
        &.black-cell {
          background: black url('./images/chess-black.png') center/cover no-repeat;
        }
        &.white-cell {
          background: white url('./images/chess-white.png') center/cover no-repeat;
        }
        &:after {
          content: '';
          display: block;
          padding-bottom: 100%;
        }
      }
    }
    & .chess-board-pieces {
      @apply (--cover);
    }
    & .chess-board-pieces .chess-board-piece-container {
      position: absolute;
      width: 12.5%;
      height: 12.5%;
      padding: 5px;
    }
    & .chess-board-pieces .chess-board-piece-container.pos-y-1 {
      top: 87.5%;
    }
    & .chess-board-pieces .chess-board-piece-container.pos-y-2 {
      top: 75%;
    }
    & .chess-board-pieces .chess-board-piece-container.pos-y-3 {
      top: 62.5%;
    }
    & .chess-board-pieces .chess-board-piece-container.pos-y-4 {
      top: 50%;
    }
    & .chess-board-pieces .chess-board-piece-container.pos-y-5 {
      top: 37.5%;
    }
    & .chess-board-pieces .chess-board-piece-container.pos-y-6 {
      top: 25%;
    }
    & .chess-board-pieces .chess-board-piece-container.pos-y-7 {
      top: 12.5%;
    }
    & .chess-board-pieces .chess-board-piece-container.pos-y-8 {
      top: 0;
    }
    & .chess-board-pieces .chess-board-piece-container.pos-x-1 {
      left: 0;
    }
    & .chess-board-pieces .chess-board-piece-container.pos-x-2 {
      left: 12.5%;
    }
    & .chess-board-pieces .chess-board-piece-container.pos-x-3 {
      left: 25%;
    }
    & .chess-board-pieces .chess-board-piece-container.pos-x-4 {
      left: 37.5%;
    }
    & .chess-board-pieces .chess-board-piece-container.pos-x-5 {
      left: 50%;
    }
    & .chess-board-pieces .chess-board-piece-container.pos-x-6 {
      left: 62.5%;
    }
    & .chess-board-pieces .chess-board-piece-container.pos-x-7 {
      left: 75%;
    }
    & .chess-board-pieces .chess-board-piece-container.pos-x-8 {
      left: 87.5%;
    }
    & .chess-board-pieces .chess-board-piece {
      position: absolute;
      top: 5px;
      right: 5px;
      bottom: 5px;
      left: 5px;
      border-radius: 50%;
    }
    & .chess-board-pieces .chess-board-piece:after {
      content: '';
      font-family: 'chess';
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    @media (--xs) {
      & .chess-board-pieces .chess-board-piece {
        font-size: 1.5em;
      }
    }
    @media (--sm) {
      & .chess-board-pieces .chess-board-piece {
        font-size: 2em;
      }
    }
    @media (--md) {
      & .chess-board-pieces .chess-board-piece {
        font-size: 2.5em;
      }
    }
    @media (--lg) {
      & .chess-board-pieces .chess-board-piece {
        font-size: 4em;
      }
    }
    @media (--xl) {
      & .chess-board-pieces .chess-board-piece {
        font-size: 4em;
      }
    }
    & .chess-board-pieces .chess-board-piece:hover {
      cursor: auto;
    }
    & .chess-board-pieces .chess-board-piece.chess-piece-active:hover {
      cursor: pointer;
    }
    & .chess-board-pieces .chess-board-piece.chess-white {
      background: white radial-gradient(white, #ccc);
      -webkit-box-shadow: 0 0 30px 0 #ccc;
      -moz-box-shadow: 0 0 30px 0 #ccc;
      box-shadow: 0 0 30px 0 #ccc;
    }
    & .chess-board-pieces .chess-board-piece.chess-white:after {
      color: black;
    }
    & .chess-board-pieces .chess-board-piece.chess-black {
      background: black radial-gradient(black, #444);
      -webkit-box-shadow: 0 0 30px 0 #444;
      -moz-box-shadow: 0 0 30px 0 #444;
      box-shadow: 0 0 30px 0 #444;
    }
    & .chess-board-pieces .chess-board-piece.chess-black:after {
      color: white;
    }
    & .chess-board-pieces .chess-board-piece.chess-type-pawn:after {
      content: 'p';
    }
    & .chess-board-pieces .chess-board-piece.chess-type-rock:after {
      content: 'r';
    }
    & .chess-board-pieces .chess-board-piece.chess-type-knight:after {
      content: 'h';
    }
    & .chess-board-pieces .chess-board-piece.chess-type-bishop:after {
      content: 'b';
    }
    & .chess-board-pieces .chess-board-piece.chess-type-king:after {
      content: 'k';
    }
    & .chess-board-pieces .chess-board-piece.chess-type-queen:after {
      content: 'q';
    }
  }
}

/* CHESS BOARD PAGE - END */
